<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <add name="MySQlConnection"
        connectionString="server=localhost;database=dbQuanLyGiaiVoDichBongDaQuocGia;user=root;password=letmein;"
        providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>